@import "./../common/variables";
.xgplayer-skin-pc {
  .xgplayer-controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 10px 10px 0 10px;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.5)));
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    z-index: 10;
  }
}

.xgplayer-skin-pc.xgplayer-nostart {
  .xgplayer-controls {
    display: none;
  }
}

.xgplayer-skin-pc.xgplayer-no-controls {
  .xgplayer-controls {
    display: none;
  }
}

.xgplayer-skin-pc.xgplayer-inactive {
  .xgplayer-controls {
    display: none;
  }
}
.xgplayer-skin-pc.xgplayer-is-live {
  .xgplayer-controls {
    .xgplayer-time,.xgplayer-progress {
      display: none;
    }
    .xgplayer-live {
      display: block;
    }
  }
}
